
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: var(--fontfamily) ;
    scroll-behavior: smooth;
    background: var(--background);
    overflow-x: hidden;
}

:root{
    --text:#EBF4FF;
    --fontfamily:Roboto,cursive, Helvetica, sans-serif;
    --background:#01162D;
    --secondary:#012041;
    --primary:#F7F305;
}

.hero_page{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero_page h1{
    font-size: 50px;
    font-weight: 800;
    color: #F7F305;
    margin: 0rem 0rem 1rem 0rem;
}


.hero_page span{
    color: var(--text);
    margin-top: 2rem;
}

#career{
    font-weight: bold;
    color: var(--primary);
}

#coding_logo{
    width: 300px;
    height: 300px;
}


#bar_top_left,#bar_top_right{
    transition: opacity 2s linear;
    opacity: 0.0;
    animation: fade-in 800ms forwards;
}

@keyframes fade-in {
    0%{
        opacity: 0.0;
    }
    50%{
        opacity: 1.0;
    }
    80%{
        opacity: 0.0;
    }
    100%{
        opacity: 1.0;
        transform: rotate(360deg);
    }
}



#bar_bottom_left,#bar_bottom_right{
    animation: slide-in-bottom 2s forwards;
    transition: all 2s linear;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100000px);
    }
    50% {
        transform: translateY(50000px);
    }
    80% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}


#slash{
    animation: slide-in-top 2s forwards;
    transition: all 2s linear;
}



@keyframes slide-in-top {
    0% {
        transform: translateY(-100000px);
    }
    50% {
        transform: translateY(-50000px);
    }
    80% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(-400px);
        rotate: 10deg;
    }
}



#my_name{
    animation: slide-in-name 5s forwards;
    transition: all 5s ease; 
    position: absolute; 

}


@keyframes slide-in-name {
    0% {
        top: -10500px;
        opacity:0.0;
    }
    50% {
        opacity:1.0;
    }
    60% {
        opacity:0.0;
    }
    70% {
        opacity:1.0;
    }
    80% {
        opacity:0.0;
    }
    100% {
        position: relative;
        opacity: 1.0;
        margin-top: 0px;
    }
}


#career_full{
    animation: slide-in-career 2s forwards;
    transition: all 2s ease;  
}


@keyframes slide-in-career {
    0% {
        margin-left: -10500px;
    }

    100% {
        margin-left: 0px;
        position: relative;
    }
}